<mat-toolbar>

	<mat-toolbar-row class="header-content" div fxLayout="row" fxLayoutAlign="space-between center">

		<div>
			<button class="header-hamburger-icon" mat-icon-button *ngIf="deviceMd || deviceSm || deviceXs">
        <mat-icon (click)="showSidebar()">menu</mat-icon>
      </button>
		</div>

		<div>
			<button mat-icon-button [matMenuTriggerFor]="translete_menu">
        <mat-icon>translate</mat-icon>
      </button>

			<mat-menu #translete_menu="matMenu">
				<button mat-menu-item>
          <span>English</span>
        </button>
				<button mat-menu-item>
          <span>Mandarin</span>
        </button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="notification_menu">
        <mat-icon>notifications</mat-icon>
      </button>

			<mat-menu #notification_menu="matMenu">
				<button mat-menu-item>
          <span>1</span>
        </button>
				<button mat-menu-item>
          <span>1</span>
        </button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="profile_menu" class="profile_menu">
        <mat-icon>JRS</mat-icon>
      </button>

			<mat-menu #profile_menu="matMenu">
				<button mat-menu-item>
          <span>1</span>
        </button>
				<button mat-menu-item>
          <span>1</span>
        </button>
			</mat-menu>
		</div>

	</mat-toolbar-row>

</mat-toolbar>

<div class="hidden-side-bar" [ngClass]="sidebarStatus ? 'show' : 'hide'">
	<mat-toolbar>
		<mat-toolbar-row>
			<span class="logo">Massage Now</span>
			<mat-icon aria-hidden="false" (click)="hideSidebar()" class="hamburger-icon">close</mat-icon>
		</mat-toolbar-row>
	</mat-toolbar>
	<nav class="page-link">
		<ul *ngFor="let nav of navs">
			<li>
				<a routerLink="#">
					<mat-icon aria-hidden="false">{{ nav.icon }}</mat-icon><span>{{ nav.title }}</span>
				</a>
			</li>
		</ul>
	</nav>
</div>