mat-toolbar mat-toolbar-row.mat-toolbar-row {
  color: #1e2129;
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.37) !important;
}

mat-toolbar-row.header-content.mat-toolbar-row {
  justify-content: flex-end;
}

button.profile_menu {
  background-color: #2d323e;
  color: #ffffff;
  width: 50px;
  height: 50px;
}

.profile_menu mat-icon.mat-icon {
  width: 37px;
  height: 35px;
}

.header-content button {
  margin-left: 20px;
}

.header-content button.header-hamburger-icon {
  margin: 0 0 0 0 !important;
}

.hidden-side-bar {
  position: fixed;
  z-index: 10000000000000000000000;
  left: 0;
  top: 0;
  background-color: #2d323e;
  color: #ffffff;
  height: 120%;
}

.hidden-side-bar mat-toolbar {
  background-color: #2d323ef5;
  color: #ffffff;
}

span.logo {
  margin: 0 20px 0 0;
  font-size: 15px;
  color: #ffffff;
}

mat-icon.hamburger-icon {
  margin: 0 4px 0 4px;
  color: #ffffff;
}

.page-link ul li a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  padding: 10px 0 10px 10px;
  font-family: sans-serif;
  margin: 10px;
  border-radius: 5px;
}

.page-link ul li a.hover {
  background-color: #95b0bd0d;
}

.page-link ul li a.active {
  background-color: #95b0bd26;
}

.page-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.page-link {
  left: 0px;
}

.page-link ul li a span {
  padding: 4px 0 0 10px;
}

.hidden-side-bar.hide {
  display: none;
}
