<mat-card class="example-card">

	<mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
		<mat-card-title>Top Therapist</mat-card-title>
		<button mat-button>Sort</button>
	</mat-card-header>

	<mat-card-content class="top-therapist">
		<div class="the-therapist" fxLayout="row" fxLayoutAlign="space-between center">
			<div>
				<div mat-card-avatar class="example-header-image"><span class="commentor">Joshua Ramirez</span>
				</div>
				<div class="therapist-rate">
					<mat-icon class="star-rating">grade grade grade grade grade</mat-icon>
					<div class="comment-box">278 reviews</div>
				</div>
			</div>
			<div class="medal">
				<img src="https://lh3.google.com/u/0/d/1VcZJotbZ2BkePc0A9h_-CZkKaiW74YsE=w200-h190-p-k-nu-iv1" alt="">
      </div>
			</div>
			<hr class="horizontal-hr">
			<div class="the-therapist" fxLayout="row" fxLayoutAlign="space-between center">
				<div>
					<div mat-card-avatar class="example-header-image"><span class="commentor">Joshua Ramirez</span>
					</div>
					<div class="therapist-rate">
						<mat-icon class="star-rating">grade grade grade grade grade</mat-icon>
						<div class="comment-box">278 reviews</div>
					</div>
				</div>
				<div class="medal">
					<img src="https://lh3.google.com/u/0/d/1ZYZm7Dontm3RmmL0P10seyZGRTDI_XYF=w200-h190-p-k-nu-iv1" alt="">
      </div>
				</div>
				<hr class="horizontal-hr">

				<div class="the-therapist" fxLayout="row" fxLayoutAlign="space-between center">
					<div>
						<div mat-card-avatar class="example-header-image"><span class="commentor">Joshua Ramirez</span>
						</div>
						<div class="therapist-rate">
							<mat-icon class="star-rating">grade grade grade grade grade</mat-icon>
							<div class="comment-box">278 reviews</div>
						</div>
					</div>
					<div class="medal">
						<img src="https://lh3.google.com/u/0/d/13j5P9rjHLORi-_9-QPwM3HOtdBlK9kWj=w200-h190-p-k-nu-iv1" alt="">
          </div>
					</div>
					<hr class="horizontal-hr">
					<div class="the-therapist" fxLayout="row" fxLayoutAlign="space-between center">
						<div>
							<div mat-card-avatar class="example-header-image">
								<span class="commentor">Joshua Ramirez</span>
							</div>
							<div class="therapist-rate">
								<mat-icon class="star-rating">grade grade grade grade grade</mat-icon>
								<div class="comment-box">278 reviews</div>
							</div>
						</div>
						<div class="medal">
							<!-- <img src="https://lh3.google.com/u/0/d/13j5P9rjHLORi-_9-QPwM3HOtdBlK9kWj=w200-h190-p-k-nu-iv1" alt=""> -->
						</div>
					</div>
					<hr class="horizontal-hr">

					<div class="the-therapist" fxLayout="row" fxLayoutAlign="space-between center">
						<div>
							<div mat-card-avatar class="example-header-image">
								<span class="commentor">Joshua Ramirez</span>
							</div>
							<div class="therapist-rate">
								<mat-icon class="star-rating">grade grade grade grade grade</mat-icon>
								<div class="comment-box">278 reviews</div>
							</div>
						</div>
						<div class="medal">
							<!-- <img src="https://lh3.google.com/u/0/d/13j5P9rjHLORi-_9-QPwM3HOtdBlK9kWj=w200-h190-p-k-nu-iv1" alt=""> -->
						</div>
					</div>
	</mat-card-content>

	<mat-card-actions class="rating-footer">
		<button mat-button class='custom-show-more-btn'>Show more</button>
	</mat-card-actions>

</mat-card>