<mat-card class="example-card">
	<mat-card-header class="title">
		<mat-card-title>Current Cash in Drawer</mat-card-title>
	</mat-card-header>
	<mat-card-content fxLayout="row" fxLayoutAlign="space-evenly center" style="margin: 10px 0 0 0">
		<div class="branch">
			<span><b class="cash-amount">$12,345</b><p class="location">Kalgoorie</p></span>
			<hr class="vertical-hr" fxFlex style="margin:0 20px 0 20px">
		</div>
		<div class="branch">
			<span><b class="cash-amount">$12,345</b><p class="location">Kalgoorie</p></span>
			<hr class="vertical-hr" fxFlex style="margin:0 20px 0 20px">
		</div>
		<div class="branch">
			<span><b class="cash-amount">$12,345</b><p class="location">Kalgoorie</p></span>
		</div>
	</mat-card-content>

</mat-card>