<!-- culumn 1 -->
<div fxLayout="row" *ngIf="deviceXl || deviceLg">
	<app-new-sales fxFlex="65" [deviceXs]="deviceXs" [deviceSm]="deviceSm" [deviceMd]="deviceMd" [deviceLg]="deviceLg"
		[deviceXl]="deviceXl"></app-new-sales>
	<div fxFlex="35">
		<app-marketing></app-marketing>
		<app-cash-drawer></app-cash-drawer>
	</div>
</div>

<div fxLayout="column" *ngIf="deviceMd">
	<app-new-sales fxFlex="100"></app-new-sales>
	<div fxLayout="row">
		<app-marketing fxFlex="60"></app-marketing>
		<app-cash-drawer fxFlex="40"></app-cash-drawer>
	</div>
</div>

<div fxLayout="column" *ngIf="deviceSm || deviceXs">
	<app-new-sales fxFlex="100"></app-new-sales>
	<app-marketing fxFlex="100"></app-marketing>
	<app-cash-drawer fxFlex="100"></app-cash-drawer>
</div>

<!-- culumn 2 -->

<mat-card fxLayout="row">
	<app-revenue fxFlex="33"></app-revenue>
	<hr class="vertical-hr" fxFlex style="margin:0 20px 0 20px">
	<app-services fxFlex="33"></app-services>
	<hr class="vertical-hr" fxFlex style="margin:0 20px 0 20px">
	<app-products fxFlex="33"></app-products>
</mat-card>

<div fxLayout="column">
	<div>
		<app-cost fxFlex="33"></app-cost>
		<div fxFlex="33">
			<app-gender></app-gender>
			<app-new-return></app-new-return>
		</div>
		<app-top-spender fxFlex="34"></app-top-spender>
	</div>
	<div>
		<app-payment-method fxFlex="33"></app-payment-method>
		<app-profits fxFlex="33"></app-profits>
		<app-checkout-logs fxFlex="34"></app-checkout-logs>
	</div>
</div>

<div fxLayout="row">
	<app-average-waiting-time fxFlex="50"></app-average-waiting-time>
	<app-appointment-logs fxFlex="50"></app-appointment-logs>
</div>

<div fxLayout="row">
	<app-business-rating fxFlex="33"></app-business-rating>
	<app-top-therapist fxFlex="33"></app-top-therapist>
	<app-therapists-rating fxFlex="34"></app-therapists-rating>
</div>