<div fxLayout="row">
	<app-new-sales fxFlex="65"></app-new-sales>
	<div fxFlex="35">
		<app-marketing></app-marketing>
		<app-cash-drawer></app-cash-drawer>
	</div>
</div>

<mat-card fxLayout="row">
	<app-revenue fxFlex="33"></app-revenue>
	<hr class="vertical-hr" fxFlex style="margin:0 20px 0 20px">
	<app-services fxFlex="33"></app-services>
	<hr class="vertical-hr" fxFlex style="margin:0 20px 0 20px">
	<app-products fxFlex="33"></app-products>
</mat-card>

<div fxLayout="row">
	<div fxFlex="66">
		<div>
			<app-cost fxFlex="50"></app-cost>
			<div fxFlex="50">
				<app-gender></app-gender>
				<app-new-return></app-new-return>
			</div>
		</div>
		<div>
			<app-payment-method fxFlex="50"></app-payment-method>
			<app-profits fxFlex="50"></app-profits>
		</div>
	</div>
	<div fxFlex="34">
		<app-top-spender></app-top-spender>
		<app-checkout-logs></app-checkout-logs>
	</div>
</div>

<div fxLayout="row">
	<app-average-waiting-time fxFlex="50"></app-average-waiting-time>
	<app-appointment-logs fxFlex="50"></app-appointment-logs>
</div>

<div fxLayout="row">
	<app-business-rating fxFlex="33"></app-business-rating>
	<app-top-therapist fxFlex="33"></app-top-therapist>
	<app-therapists-rating fxFlex="33"></app-therapists-rating>
</div>